@model List<ItemModel>;
@{
    Html.Bundle("css/index.css");
}

<section>
    <article class="sites">
        <div class="sites-button">
            @if (!string.IsNullOrEmpty(ViewData["FolderID"] as string))
            {
                <form action="@Url.Action("ToBlobStorage","Home")" method="post">

                    @if (!string.IsNullOrEmpty(ViewData["Name"] as string))
                    {
                        <input type="hidden" name="name" value="@ViewData["Name"]" />
                    }
                    @if (!string.IsNullOrEmpty(ViewData["ID"] as string))
                    {
                        <input type="hidden" name="id" value="@ViewData["ID"]" />
                    }
                    @if (!string.IsNullOrEmpty(ViewData["ListID"] as string))
                    {
                        <input type="hidden" name="listID" value="@ViewData["ListID"]" />
                    }
                    @if (!string.IsNullOrEmpty(ViewData["FolderID"] as string))
                    {
                        <input type="hidden" name="folderID" value="@ViewData["FolderID"]" />
                    }
                    <label style="cursor:pointer">
                        Overwrite:
                        <input type="checkbox" name="overwrite" value="true" style="appearance:auto;cursor:pointer">
                    </label>
                    <button type="submit" class="--button _secondary">Archive</button>
                </form>
            }
        </div>
        <h1> @(string.IsNullOrEmpty(ViewData["Name"] as string) ? "Site" : ViewData["Name"]) </h1>
        <div class="sites-info">
            @foreach (ItemModel item in Model)
            {
                @if (!string.IsNullOrEmpty(item.Name))
                {
                    @if (string.IsNullOrEmpty(ViewData["Name"] as string))
                    {
                        <a href="/@item.Name/@item.ID" class="--button _primary">
                            <p>
                                @item.Name
                            </p>
                        </a>
                    }
                    else
                    {
                        string name = @ViewData["Url"] as string;
                        int firstSlashIndex = name.IndexOf('/');
                        int secondSlashIndex = name.IndexOf('/', firstSlashIndex + 1);
                        name = name.Remove(secondSlashIndex, 1).Insert(secondSlashIndex, $"-{item.Name}/");


                        <a href="@name/@item.ID" class="--button _primary">
                            <p>@item.Name</p>
                            @if (item.ShowDiv)
                            {
                                <div>
                                    <p>@item.Count items</p>
                                    <span>
                                        @if (item.Size == 0)
                                        {
                                            <span> 0 KB</span>
                                        }
                                        else if (item.Size < 1024 * 1024)
                                        {
                                            <span>
                                                @((item.Size / 1024.0)?.ToString("0.00")) KB
                                            </span>
                                        }
                                        else if (item.Size < 1024 * 1024 * 1024)
                                        {
                                            <span>
                                                @((item.Size / ((1024.0 * 1024.0)))?.ToString("0.00")) MB
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                @((item.Size / ((1024.0 * 1024.0 * 1024.0)))?.ToString("0.00")) GB
                                            </span>
                                        }
                                    </span>
                                </div>
                            }
                        </a>
                    }
                }
            }
        </div>
    </article>
</section>