@inject Connection.SharePointGraph _sharePointGraph;
@inject IJSRuntime JS;

@if (Items != null)
{
    <section>
        <article class="sites">
            <div class="sites-button">

                @if (!string.IsNullOrEmpty(Site.FolderID))
                {
                    <label style="cursor:pointer">
                        Overwrite:
                        <input type="checkbox" @bind="Overwrite" style="appearance:auto;cursor:pointer">
                    </label>
                    <button @onclick="Archive" class="--button _secondary">Archive</button>
                }
            </div>
            <h1> @(string.IsNullOrEmpty(Site.Name) ? "Site" : Site.Name) </h1>

            <div class="sites-info">
                <div class="sites-info-search">
                    <input type="text" />
                </div>
                <div class="sites-info-description">
                    @foreach (ItemModel item in Items)
                    {
                        @if (!string.IsNullOrEmpty(item.Name))
                        {
                            @if (string.IsNullOrEmpty(Site.Name))
                            {
                                <a href="/@item.Name/@item.ID" class="--button _primary">
                                    <p>
                                        @item.Name
                                    </p>
                                </a>
                            }
                            else
                            {
                                string name = Url;
                                int firstSlashIndex = name.IndexOf('/');
                                int secondSlashIndex = name.IndexOf('/', firstSlashIndex + 1);
                                name = name.Remove(secondSlashIndex, 1).Insert(secondSlashIndex, $"|{item.Name}/");

                                <a href="@name/@item.ID" class="--button _primary">
                                    <p>@item.Name</p>

                                    @if (item.ShowDiv)
                                    {
                                        <div>
                                            <p>@item.Count items</p>
                                            <span>
                                                @if (item.Size == 0)
                                                {
                                                    <span> 0 KB</span>
                                                }
                                                else if (item.Size < 1024 * 1024)
                                                {
                                                    <span>
                                                        @((item.Size / 1024.0)?.ToString("0.00")) KB
                                                    </span>
                                                }
                                                else if (item.Size < 1024 * 1024 * 1024)
                                                {
                                                    <span>
                                                        @((item.Size / ((1024.0 * 1024.0)))?.ToString("0.00")) MB
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>
                                                        @((item.Size / ((1024.0 * 1024.0 * 1024.0)))?.ToString("0.00")) GB
                                                    </span>
                                                }
                                            </span>
                                        </div>
                                    }
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        </article>
    </section>
}
else
{
    <section class="loading">
        <article>
            <DotCompoments.Compoments.Assets.Logo />
        </article>
    </section>

}

@if (Loading)
{
    <section class="loadingPopup">
        <article>
            <div class="loadingPopup-details">
                <div>
                    <p>@FileCount/@TotalFile</p>
                </div>
                <div>
                    <span style="--percentage:@Percentage%;"></span>
                </div>
            </div>
            <div class="loadingPopup-loading">
                <DotCompoments.Compoments.Assets.Logo />
            </div>
            <div class="loadingPopup-close">
                <button @onclick="Close">X</button>
            </div>
        </article>

    </section>
}